body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 20px;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    background-color: #007BFF;
    color: #fff;
}
