body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 20px;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    text-align: center;
}

section {
    margin-top: 20px;
    text-align: center;
    padding-left: 80%; /* Padding kiri 20% dari lebar elemen */
    padding-right: 80%; /* Padding kanan 20% dari lebar elemen */
}

button {
    padding: 10px;
    font-size: 16px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    background-color: #007BFF;
    color: #fff;
}
